<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="utf-8" />
        <style>
            td{text-align: left}
            th{text-align: center}
            table{border-spacing: 10px}

            .alue{

                outline: none;
                margin-top: 2%;
            }
            .alue2{
                margin-left: 20%;
            }
            .uusiAlue{
                margin-top: 3%
            }
        </style>

    </head>

    <body>
        <h1 th:text="${alue.nimi}">Aihe</h1>
        <table style="width:40%">
            <tr>
                <th><i>Alue</i></th>
                <th><i>Viestejä yhteensä</i></th>
                <th><i>Viimeisin viesti</i></th>
            </tr>
        </table>

        <div class="alue" th:each="avaus : ${avaukset}">


            <a th:href="@{~/{alue_id}/{avaus_id}/10(avaus_id=${avaus.avaus_id}, alue_id=${alue.alue_id})}"><span th:text="${avaus.otsikko}">otsikko</span></a>


            <span th:text="${avaus.aikaleima}">viimeisin</span>


        </div>

        <div class="uusiAlue">
            <form method="POST" th:action="@{~/:alue/}"> 
                <div>
                    <input type="text" name="otsikko" placeholder="Avauksen otsikko" />
                </div>
                
                <div>
                    <input style="height:200px; width: 200px;" type="text" name="sisalto" placeholder="Avauksen sisalto" />
            </div>
                
                 <div>
                    <input type="text" name="nimimerkki" placeholder="Nimimerkki" />
                </div>
            <div>
                <input type="submit" value="Lisää avaus"/>


            </div>
        </form>
    </div>

</body>
</html>