<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Diskuteeraus</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${alue.nimi}">alue</span> --- <span th:text="${avaus.otsikko}">avaus</span> </h1>

        <ol>
            <li th:text="${avaus.nimimerkki}"><b>avausnimimerkki</b> 
                <p th:text="${avaus.sisalto}">avaus</p> </li>
            <li th:each="vastaus: ${vastaukset}">
                <p th:text="${vastaus.nimimerkki}"> nimimerkki</p>
                <p th:text="${vastaus.sisalto}">vastaus</p>
            </li>         
        </ol>
        

        
                Viesti
                <form method="POST" action="/:alue/:avaus" >
                    <textarea name="vastaus" rows="20" cols="70"></textarea>
                        Nimimerkki           
                        <textarea name="nimimerkki" rows="1" cols="30"></textarea>

                        
                        <input type="submit" value="lähetä"></input>
                </form>

                                    

                                    </body>
                                    </html>